$fill-color: #fff;

.brand-logo-svg {
  height: 50px;
  width: 170px;
}

.cls-1 {
  fill: url('#linear-gradient');
}

.cls-2 {
  fill: url('#linear-gradient-2');
}

.cls-3 {
  fill: url('#linear-gradient-3');
}

.cls-4 {
  fill: url('#linear-gradient-4');
}

.cls-5 {
  fill: url('#linear-gradient-5');
}

.cls-6 {
  fill: url('#linear-gradient-6');
}

.cls-7 {
  fill: url('#linear-gradient-7');
}

.cls-8 {
  fill: url('#linear-gradient-8');
}

.cls-9 {
  fill: url('#linear-gradient-9');
}

.cls-10 {
  fill: url('#linear-gradient-10');
}

.cls-11 {
  fill: url('#linear-gradient-11');
}

.cls-12 {
  fill: $fill-color;
}
