@import './global';


$c-h2-font: #ad8f57;
$c-content: #fff;

$line: 1px solid #ad8f57;
$small-line: 1px solid #fff;

.quote-container {
  >:first-child {
    display: flex;
    flex-direction: column;
    font-family: $gilda-font;
    height: 80vh;
    justify-content: center;
    min-height: 850px;
    overflow: hidden;
    position: relative;
  }

  .bg-image {
    bottom: -9999px;
    height: 100%;
    left: -9999px;
    margin: auto;
    min-width: 100%;
    position: absolute;
    right: -9999px;
    top: -9999px;
    z-index: -1;

    @media only screen and (min-width: 1500px) {
      width: 100%;
    }
  }
}

.quote-content {
  color: $c-content;
  display: flex;
  flex-direction: column;
  margin-left: 12%;
  z-index: 2;

  >div {
    display: flex;
    justify-content: center;
    margin-left: 7%;
    width: fit-content;

    >img {
      border-radius: 50%;
      width: 70px;
    }

    span {
      align-self: center;
      margin-left: 40px;
      padding-right: 20%;
      position: relative;

      &::before {
        border-top: $small-line;
        content: '';
        position: absolute;
        right: 105%;
        top: 10px;
        width: 10px;
      }
    }
  }

  h2 {
    color: $c-h2-font;
    font-size: 300%;
    padding: 5%;
    position: relative;
    width: fit-content;
  }

  p {
    color: $c-content;
    font-family: $palanquin-font;
    font-size: 150%;
    margin-left: 15%;
    padding-right: 20%;
    position: relative;

    &::before {
      color: $c-h2-font;
      content: 'â€';
      font-size: 500%;
      position: absolute;
      right: 103%;
      top: -40px;
      width: 40px;
    }
  }
}

@media only screen and (min-width: $pad-width) {
  .quote-container {
    >:first-child {
      height: 65vh;
      min-height: 750px;
    }
  }

  .quote-content {
    width: 40%;

    h2 {
      padding: 0;

      &::before {
        border-top: $line;
        content: '';
        padding: 0;
        position: absolute;
        right: 105%;
        top: 25px;
        width: 40px;
      }
    }

    p {
      margin-left: 14%;
      padding-right: 0;
    }

    span {
      padding-right: 0;
    }
  }
}
