$suez-font: 'SuezOne Regular';

@font-face {
  font-family: 'SuezOne Regular';
  src: url('./fonts/SuezOne-Regular.ttf') format('truetype');
}

$gilda-font: 'SuezOne Regular';

@font-face {
  font-family: 'SuezOne Regular';
  src: url('./fonts/GildaDisplay-Regular.ttf') format('truetype');
}
