$c-font: #fff;
$border-header: 1px rgba(255, 255, 255, .363) solid;
$border-header-active: 3px #fff solid;

header {
  color: $c-font;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;

  >div {
    display: flex;
    flex-direction: column;

    >div,
    menu {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0 25px;
    }

    >div {
      border: $border-header;
      border-top: 0;
    }
  }
}

.brand-info {

  hr {
    border: 0;
    border-right: $border-header;
    margin: 0;
  }

  p {
    margin: auto 10px;
  }

  :first-child {
    width: 40%;
  }

  :last-child {
    width: 60%;
  }
}

.media-icons {
  width: calc(100% / 3);

  a {
    align-self: center;
    margin: 5px;
  }

  svg {
    height: 25px;

    path {
      fill: $c-font;
    }
  }
}

.languages {
  display: flex;
  justify-content: flex-end;
  width: calc(100% / 3);

  button {
    background-color: transparent;
    border: 0;
    color: $c-font;
    cursor: pointer;
    margin: auto 5px;
  }

  :last-child {
    margin-right: 0;
  }
}

.brand-info,
.media-icons {
  display: flex;
  justify-content: center;
  width: calc(100% / 3);
}

menu {
  display: flex;
  justify-content: space-between;

  .brand-logo {
    padding: 5px 0;

    img {
      width: 20vw;
      z-index: 2;
    }
  }

  .items {
    display: flex;
    justify-content: center;

    p {
      align-self: center;
      margin: 0;
      margin-left: 25px;
    }
  }

  ul {
    display: flex;
    padding: 0;

    .active {
      border-top: $border-header-active;
      padding-bottom: 3px;
    }
  }

  li {
    display: flex;
    list-style: none;
  }

  button {
    align-self: center;
    background-color: transparent;
    border: 0;
    color: $c-font;
    cursor: pointer;
  }
}
