@import './variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: $vw-max;
  overflow: hidden;
  padding: 0;
}

.hero-logo {
  bottom: 0;
  opacity: .5;
  position: fixed;
  right: 0;
  width: $vw-max * .05;
}
