$desktop: 769px;

$space: 5px;
$p-max: 100%;
$vh-max: 100vh;
$vw-max: 100vw;

$c-btns-hover-bg: #272b2e;
$c-slide-color: #fff;
$c-slide-dots: #bbb;
$c-slide-dots-active: #717171;
$c-slide-next: rgba(0,0,0,0.8);

$border-btns: #1d2125 1px solid;
